pip-tools==7.4.1
acryl-datahub[datahub-rest,bigquery,looker,lookml,datahub-business-glossary]==0.15.0.5
click==8.1.8
black==25.1.0
flake8==7.1.2
yamllint==1.35.1
pytest==8.3.5
mozilla-metric-config-parser==2024.8.1