pip-tools==6.8.0
flask==2.1.0  # Resolves Datahub==0.8.33 requiring MarkupSafe>=2.1.1
werkzeug==2.1.0  # Resolves Datahub==0.8.33 requiring MarkupSafe>=2.1.1
nbclient==0.6.3  # Resolves Datahub==0.8.36 requiring traitlets<5.2.2
acryl-datahub[datahub-rest,bigquery,looker,lookml]==0.8.41
click==8.1.3