pip-tools==7.4.1
acryl-datahub[datahub-rest,bigquery,looker,lookml,datahub-business-glossary]==0.13.2.3
click==8.1.7
black==24.4.2
flake8==7.0.0
yamllint==1.35.1
pytest==8.2.0
mozilla-metric-config-parser==2024.4.1